table{
	border-collapse: collapse;
}

table, td, th{
	border-bottom: 1px solid rgb(150, 148, 148);
	text-align: center;
	padding: 0 10px;
}

th{
	font-size: 1.5rem;
}

body{
	background: rgb(216, 212, 212);
	font-size: 1.2rem;
}

td:first-of-type, th:first-of-type{
	border-right: 1px solid rgb(150, 148, 148);
	width: 3%;
}



